<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<title>{% block page-title %}{{name}}{% endblock %}</title>
		
	<link rel="stylesheet" href="/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/css/style.css" media="screen">
		
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/js/html5shiv-printshiv.js"></script>
	<script src="/js/respond.js"></script>
	<![endif]-->
</head>
<body>
	{% callblock body %}

	<script src="/js/jquery-1.10.2.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/ajaxify.js"></script>
</body>
</html>
