{% block form-input %}
{# params: name, label, type, error, value #}
<div class="form-group{%if error%} has-error{%endif%}">
	<label for="{{name}}{%id%}">{{label}}</label>
	<input {%if type%}type="{{type}}"{%endif%}class="form-control" id="{{name}}{%id%}" 
		name="{{name}}"{%if value%} value="{{value}}"{%endif%}>
	{%if error%}<span class="help-block">{{error}}</span>{%endif%}
</div>
{% endblock %}

{% block horizontal-form-input %}
{# params: name, label, type, error, value #}
<div class="form-group{%if error%} has-error{%endif%}">
	<label for="{{name}}{%id%}" class="col-lg-4 control-label">{{label}}</label>
	<div class="col-lg-8">
		<input {%if type%}type="{{type}}"{%endif%}class="form-control" id="{{name}}{%id%}" 
			name="{{name}}"{%if value%} value="{{value}}"{%endif%}>
		{%if error%}<span class="help-block">{{error}}</span>{%endif%}
	</div>
</div>
{% endblock %}

{% block horizontal-form-submit %}
<div class="form-group">
	<div class="col-lg-8 col-lg-offset-4">
		<button type="submit" class="btn btn-default">{{title}}</button>
	</div>
</div>
{%endblock%}